.createMain {
    flex: 1;
    height: 90vh;
    background-color: #eeeeee;
    padding-top: 50px;
    overflow-y: auto;
}

.createBox{
    width:80%;
    margin:auto;
    height:max-content;
    min-height:200px;
    background-color:white;
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
}

.createHeading{
    font-size:1.3em;
    font-weight:600;
    margin-bottom: 20px;
}

.createForm{
    width:80%;
    margin:auto;
    text-align: left;
    /* margin-bottom:30px; */
}

.createBtn{
    width:100%;
    height:fit-content;
    text-align: center;
    margin-top:25px;
    /* margin-bottom: 30px; */
}