.body {
    /* width: 70vw; */
    flex:1;
    height:100vh;
}

.mainBdy {
    /* background-color: black; */
    height: 90vh;
    max-height: 100vh;
    /* position: absolute; */
    /* margin-top: 11vh; */
    z-index: -100;
    display: flex;
    justify-content: space-around;
}