.sideDrawer {
    height: 99vh;
    min-height: max-content;
    background: white;
    /* box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0px; */
    width: 30%;
    max-width:250px;
    z-index:200;
    border:2px solid #e8e8e8;
}

.sideDrawer li{
    list-style: none;
    font-size: 20px;
    margin-top: 10px;
}

.sideDrawer a{
    color:black;
    text-decoration: none;
}

.Name{
    background-color: #e8e8e8;
    /* border-color: black; */
    font-size: 22px;
    height:7vh;
    /* width:100%; */
    /* padding-top:20px; */
    /* padding-left:25px; */
    /* background-color: black; */

      /* width: 100%; */
      text-align: center;
      /* font-size: 1.7em; */
      background-color: #e8e8e8;
      /* padding: auto; */
      /* vertical-align: center; */
  
      padding:10px;
      margin:0 auto;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
}