.subContent {
    width: 97%;
    height: max-height;
    margin: 1.5%;
    background-color: #cfcfcf;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
}

.subContentPic img {
    height: 120px;
    width: 120px;
    margin: 5px;
}


.subContentHeading {
    flex: 1;
    background-color: #cfcfcf;
    min-height: 80px;
    height: fit-content;
    margin: 5px 10px;
}

.approval {
    width: fit-content;
    height: 100%;
    padding: 20px;
}