.innerDrawer {
    width: 27%;
    min-width: 200px;
    height: 100%;
    background-color: #f5f5f5;
}

.heading {
    /* width: 100%; */
    text-align: center;
    /* font-size: 1.7em; */
    background-color: #e8e8e8;
    /* padding: auto; */
    /* vertical-align: center; */
    min-height: 80px;

    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.moduleName {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
}

.btnDiv {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btnDiv button {
    width: 120px;
    height: 30px;
}

.btnDiv button:hover {
    cursor: pointer;
}