.header {
    /* position: fixed; */
    top: 0px;
    /* left: 0px; */
    /* width: 98%; */
    /* background-color: purple; */
    color: black;
    /* height: 72px; */
    height: 10vh;
    background-color:  #b9b9b9;
}

.drawerBtn i {
    font-size: x-large;
}

.drawerBtn i:hover {
    cursor: pointer;
}

.spacer {
    flex: 1;
}

.header_nav {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.header_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header_items li {
    padding: 0 0.5rem;
}

.header_items a {
    color: black;
    text-decoration: none;
    font-size: large;
    vertical-align: middle;
}

.fa-circle {
    font-size: 2.2em;
    /* vertical-align: top; */
}

.header_items i:hover{
    color:#fd0090;
}