.subContentMain {
    flex: 1;
    height: 90vh;
    background-color: #eeeeee;
    padding-top: 50px;
}

.subContentBox {
    width: 80%;
    margin: auto;
    height: fit-content;
    min-height: 200px;
    background-color: white;
    padding: 20px;
}