.mainContent {
    /* background-color:#e8e8e8; */
    height: 90vh;
    /* width:70%; */
    flex: 1;
    left: 0px;
    overflow-y: scroll;
}

.search {
    flex: 1;
    text-align: center;
    /* background-color: #124244; */
    min-height: 80px;
    padding: 10px 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #e8e8e8;
}

.searchBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    width: 100%
}
